<!DOCTYPE html>
<html lang="en">
  <head>
     
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Lightning Out Component </p>
        <div id="leaderboard"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script src="https://storm-7d8b82271e33f2.lightning.force.com/lightning/lightning.out.js"></script>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "<%= oauthtoken %>"; 
          /* var token = "00DKB000001xMCd!ARAAQBWWm3OtB.T0tfHzvRscVDwiAaJ9JaD8EDQnOEi4PWIh5DTtFnrse2YCkO_YdegNJKrwwOAT6P9uoXZm3JgDrfvFIPpQ"; */
          console.log('gg1');
          console.log(url);
          console.log(token);
           console.log('gg19');
         
            $Lightning.use("c:<%= appName %>", function() {
                  $Lightning.createComponent("c:<%= cmpName %>", {},
                     "leaderboard",
                      function(cmp) {
                         // do some stuff
                      });
            },url,token );
           /*
        $Lightning.use(
          "c:ContacViewerLightningApp",      // Lightning app name
          function () {
            $Lightning.createComponent(
              "c:ContactViewer",             // Component name
              {},
              "lightning-container"
            );
          },
          "https://storm-7d8b82271e33f2.lightning.force.com"
        ); */

        </script>
  </body>
</html>
