<!DOCTYPE html>
<html lang="en">
  <head>
     
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Lightning Out Component </p>
        <div id="leaderboard"></div>
          </div>
          <div id="lightning-container" style="height: 600px; width: 50%; border: 1px solid #ccc;"></div>

      </main>
        <footer>
        </footer>
        <script src="https://storm-7d8b82271e33f2.my.salesforce.com/lightning/lightning.out.js"></script>
        <script type="text/javascript" 
          src="https://storm-7d8b82271e33f2.my.salesforce.com/lightning/lightning.out.latest/index.iife.prod.js">
        </script>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "<%= oauthtoken %>"; 
          //var token = "00DKB000001xMCd!ARAAQCLEHcs5reDik2z42xILPZ4uKncjw8NIzYditPAGRms3v3pPjZ7W088O.EPdudtzIAN1I0FSszzsbi7gmREoEUzpODon"; 
          console.log('gg1');
          console.log(url);
          console.log(token);
           console.log('gg19');

           const targetURL2 = 'https://storm-7d8b82271e33f2.my.salesforce.com/services/oauth2/singleaccess';
           const response = await fetch(targetURL2, {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/x-www-form-urlencoded'
               },
               body: new URLSearchParams({
                   'access_token': token,
                   'retURL': '/lightning/lightning.out.latest/index.iife.prod.js' // Optional return context
               })
           });

           const data1 = await response.json();
           frontDoorUrl = data1.frontdoor_uri;
           console.log(data1);


                // --- STEP 3: DYNAMICALLY INJECT HTML ---
                //out.textContent = '3. Loading Lightning App...';

                // Create the App Wrapper
                const appElement = document.createElement('lightning-out-application');
                appElement.setAttribute('frontdoor-url', frontDoorUrl);
                //appElement.setAttribute('components', 'c-lightning-out-flow');
                appElement.setAttribute('components', 'c-service-appointment-booking');

                document.getElementById('lightning-container').appendChild(appElement);

                const myCmp = document.createElement('c-service-appointment-booking');
                /*if(campaignToken) {
                    myCmp.setAttribute('campaign-token', campaignToken);
                }*/

                document.getElementById('lightning-container').appendChild(myCmp);
                //out.textContent = 'Ready!';



         /*
            $Lightning.use("c:<%= appName %>", function() {
                  $Lightning.createComponent("c:<%= cmpName %>", {},
                     "leaderboard",
                      function(cmp) {
                         // do some stuff
                      });
            },url,token );
        */
           /*
        $Lightning.use(
          "c:ContacViewerLightningApp",      // Lightning app name
          function () {
            $Lightning.createComponent(
              "c:ContacViewerCmp",             // Component name
              {},
              "leaderboard"
            );
          },
          "https://storm-7d8b82271e33f2.my.salesforce.com",token
        ); */

        </script>
  </body>
</html>
