<!DOCTYPE html>
<html lang="en">
  <head>
     
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Lightning Out Component </p>
        <div id="leaderboard"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script src="https://storm-7d8b82271e33f2.my.salesforce.com/lightning/lightning.out.js"></script>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "<%= oauthtoken %>"; 
          var token = "00DKB000001xMCd!ARAAQEgkLae9nrRZpVqUlgaWpD9wkuFfU6GQctG2S3vRp3UF6KtSdsC2uzxcfCCTRbqOzJ8XAOZprF3SfsgEXaIL_7n5mrjB"; 
          console.log('gg1');
          console.log(url);
          console.log(token);
           console.log('gg19');
         /*
            $Lightning.use("c:<%= appName %>", function() {
                  $Lightning.createComponent("c:<%= cmpName %>", {},
                     "leaderboard",
                      function(cmp) {
                         // do some stuff
                      });
            },url,token );
           */
        $Lightning.use(
          "c:ContacViewerLightningApp",      // Lightning app name
          function () {
            $Lightning.createComponent(
              "c:ContacViewerCmp",             // Component name
              {},
              "leaderboard"
            );
          },
          "https://storm-7d8b82271e33f2.my.salesforce.com",token
        ); 

        </script>
  </body>
</html>
